name: workflow
on:
  workflow_dispatch:
  push:

jobs:
  felles-workflow:
    uses: navikt/flex-github-actions-workflows/.github/workflows/next-js-lightweight.yml@dev-lightweight-nextjs-buildjob
    permissions:
      packages: read
      contents: read
      id-token: write
      security-events: write
      actions: read
    secrets: inherit
